@using OneClickShopping.Application.Features.CQRS.Commands.Product.CreateProductCommand
@model CreateProductCommandRequest
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="title-header">
        <h5>Yeni Kategori Ekle</h5>
    </div>

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <form class="theme-form theme-form-2 mega-form" asp-action="Add" asp-controller="Product">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Ürün Bilgisi</h5>
                                </div>

                              
                                    <div class="row">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-2 mb-0">Ürün İsmi</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" asp-for="Name" type="text" placeholder="Ürün İsmi">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-2 mb-0"> Miktar</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" asp-for="CurrentQty" type="text"
                                                       placeholder="Miktar">
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-2 col-form-label form-label-title">Kategori</label>
                                            <div class="col-sm-10">
                                                <select class="js-example-basic-single w-100"  asp-for="CategoryId">
                                                    <option disabled>Category Menu</option>
                                                    <option selected value="1">TV & Appliances</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-2 mb-0">Fiyat</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" asp-for="Price" type="text"
                                                       placeholder="Fiyat">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit"> Kaydet</button>
                           

                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Ürün Açıklaması</h5>
                                </div>

                               
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <label class="form-label-title col-sm-2 mb-0">
                                                    Açıklama
                                                </label>
                                                <div class="col-sm-10">
                                                    <div  id="editor" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                         
                            </div>
                        </div>

@*                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Ürün Resimleri</h5>
                                </div>

                                <form class="theme-form theme-form-2 mega-form">
                                    <div class="row">
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-2 col-form-label form-label-title">Images</label>
                                            <div class="col-sm-10">
                                                <input class="form-control form-choose" type="file"
                                                       id="formFileMultiple" multiple>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <label class="col-sm-2 col-form-label form-label-title">
                                                Thumbnail
                                                Image
                                            </label>
                                            <div class="col-sm-10">
                                                <input class="form-control form-choose" type="file"
                                                       id="formFileMultiple1" multiple>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>*@
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Envanter</h5>
                                </div>

                               
                                    <div class="row">
                                        <div class="row align-items-center">
                                            <label class="col-sm-2 col-form-label form-label-title">
                                                Stok Durum
                                            </label>
                                            <div class="col-sm-10">
                                                <select class="js-example-basic-single w-100" name="state" asp-for="StockStatus">
                                                    <option value="1">Var</option>
                                                    <option value="2">Yok</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

